.container {
    padding: 25px;
}

.table-selected {
    background-color: lightblue;
    cursor: pointer;
}

.table-normal {
    cursor: pointer;
}

.table-normal:hover {
    background-color: lightblue;
}

.table-wrapper {
    overflow-x: auto;
}